<!doctype html>
<html lang="en">

<head>
  <title>AAAAAAAAAAAAAAAAAaaa</title>
</head>

<body>
  <!-- Container for Chart -->

  <script src="main.js"></script>


  <!-- input date -->
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" style="height:50px; width: 200px;">
  <input type="number" id="price" name="price" style="height:50px; width: 200px;">
  <input type="submit" name="Submit" value="Submit" onclick="return getData();" />

  <img id="him" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSKXhZlqqJVFJ1y3XM0qcOA86w9mczy22LoWg3QvrssWMbPS9Y7" style="position: absolute; width: 100%; height: 100%; z-index: -100; top: 0; left: 0;">

  <p id="output" style="font-size: x-large; color: yellow;"></p>

  <!-- Charts configuration file -->
</body>

</html>